<h1>Latest posts</h1>
<br>
<div>
  <% @posts.reverse_each do |post| %>
  <div class="well">
    <h3><%= link_to "#{post.title}", post %></h3>
    <p> Post by <%= post_written_by(post) %> <%= time_ago_in_words(post.created_at) %> ago.
    </p>
  </div>
  <% end %>
</div>