<ul class="nav">
  <li>
    <%= link_to "LvlRunning", root_path, :class => 'brand' %>
  </li>
  
    <% Category.first(5).each do |cat| %>
      <li>
        <%= link_to "#{cat.cat_name}", category_path(cat) %>
      </li>
    <% end %>
</ul>
<ul class="nav pull-right">
  <li>
    <%= link_to 'New Post', '/posts/new' %>
  </li>
</ul>